doctype html
html
     head
         meta(charset="utf-8")
         link(rel="stylesheet" href="chess_3.css")
         link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet")
         link(href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet")
         script(src="js/all.js" rel="stylesheet")    
     body
         header
             div#logo ♕ Amazing Checkmates
         main
             div#img
                 img#icon(src='Rectangle 11.jpg')
             div#status 
                 h3#name Alexander Sourman
             div.stars 
                 i(class="fas fa-star gold")
                 i(class="fas fa-star gold")
                 i(class="fas fa-star gold")   
             div.stats 
                 p#p1 Played games: 168
                 p#won Won: 160
             div.but 
                 button#new New games
                 button#load Load game 
                 button#set Setting          
