body {
    margin: 0px;
    display: grid;
    grid:
        "h" 48px 
        "m" auto;
        
    min-height: 100vh;
}

header {
    width: auto;
    grid-area: h;
    background-color: #464646;
    display: flex;
  align-items: center;
  font-family: Freehand;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
}

#logo{
    width: 180px;
    height: 29px;
    margin-left: 190px;
    color: white; 
}

main{
    width: 540px;
    height: 420px;
    grid-area: m;
    display: grid;
    grid:
         "i s" 160px
         "b b";
    margin: auto;
    margin-top: 140px;



}

#img{

    grid-area: i;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#status{
    

    grid-area: s;
    height: 160px;
    display:flex;
    flex-direction: column;
    align-content:space-between;


    

}
.stats{
    margin-bottom: 0px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
    
}
#name{
    margin-top: 0px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

}
#won{
    margin-bottom: 0px;
}

.but{

    grid-area: b;
}
#new{
    margin-top: 50px;
}
#load{
    margin-top: 30px;
}
#set{
    margin-top: 30px;
}


.stars{
    color: gold;
}

.but button{
    width: 416px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    background-color: transparent;
    outline: none;
    margin: auto;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
margin-left: 40px;
}



