doctype html
html
     head
         meta(charset="utf-8")
         link(rel="stylesheet" href="chess.css")
     body
         header
             span#hed ♕ Amazing Checkmates
             div
                 buttom(type="menu") menu  
         aside
         main
             div
                 h1 Amazing Checkmates
                     img(src="Line 4.png")
             div
                 h3 Reveal your strategic skills
             div 
                 h3 In the game of kings 
             div
                 button#but Conquer
         img#p(src="chess_2.png")
         footer
             span#foot Amazing things LLC                        
