body {
  margin: 0px;
  display: grid;
  grid:
      "h h h " 48px
      "m a ." auto
      "f f f" auto;
      min-height: 100vh;}
main{
  grid-area: a;
  border: 2px solid black;
  height: 507px;
  width: 487px;
  padding: 16px;
  box-sizing: border-box;
  
}      
#sm_header{
  text-align: center;
  padding:8px;
}

.buttons{
  display: flex;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
}
.inputs{
  border: none;
  border-bottom:solid red 1px;
  font-family: 'Roboto', sans-serif;
}
.gold{
  color: gold;

}